@import '../../styles/utils.scss';

.workContainer{
    .wcList{
        .wclCard{
            .wclcHeader{
                display: grid;
                grid-template-columns: 3fr 1fr;
                font-family: 'Source Sans Pro';
                align-items: center;
                margin-bottom: 10px;
                
                .wclchLogo{
                    justify-content: flex-end;

                    img{
                        width: 300px;
                        height: 150px;
                        border: 1px solid gray;
                        object-fit: contain;
                        background-color: white;
                    }
                }

                .wclchTitle{
                    font-size: var(--heading-2-font-size);
                    font-weight: var(--font-weight-lighter);
                    padding-right: 30px;
                }
            }

            .wclcBody{
                padding: 20px 0;
                font-family: 'Source Sans Pro';

                .wclcbDivider{
                    height: 1px;
                    background-color: var(--theme-medium-light);
                }

                .wclcbPositionCards{
                    .wclcbpcCard{
                        .wclcbpccTitle{
                            font-size: var(--font-size-l);
                            font-weight: var(--font-weight-normal);
                            margin: 0 0 10px;
                        }

                        .wclcbpccSubtitle{
                            font-size: var(--font-size-m);
                            font-weight: var(--font-weight-normal);
                            margin: 0 0 10px;
                        }

                        .wclcbpccDuties{
                            font-size: var(--font-size-m);
                        }
                    }
                }
            }
        }
    }
}

.orgLink{
    text-decoration: none;
    color: black;
}


@media (max-width: $medium-screen) {
    .workContainer{
        .wcList{
            .wclCard{
                .wclcHeader{
                    grid-template-columns: 2fr 1fr;
    
                    .wclchTitle{
                        font-weight: var(--font-weight-normal);
                    }
                }
            }
        }
    }
}

@media (max-width: $small-screen){
    .workContainer{
        .wcList{
            .wclCard{
                .wclcHeader{
                    .wclchLogo{
                        img{
                            width: 145px;
                            height: 72.5px;
                        }
                    }

                    .wclchTitle{
                        font-size: var(--font-size-l);
                    }
                }
    
                .wclcBody{
                    padding: 20px 0;
                    font-family: 'Source Sans Pro';
                    font-size: var(--font-size-m);
                    
                    ul{
                        padding: 0 0 0 4vw;
                    }
                    .cardDivider{
                        height: 1px;
                        background-color: var(--theme-medium-light);
                    }
                }
            }
        }
    }
}