@import '../../styles/utils.scss';


.swContainer{
    .swcList{
        .swclCard{
            border: var(--theme-light) solid 2px;
            font-family: 'Source Sans Pro';
            
            .swclcMain{
                .swclcmHeader{
                    display: grid;
                    grid-template-columns: 4fr 1fr;
    
                    h3{
                        font-size: var(--heading-3-font-size);
                        font-weight: var(--font-weight-normal);
                        margin: 0;
                    }
    
                    span{
                        text-align: right;
                        font-size: var(--font-size-m);
                    }
                }
                
                .swclcmTags{
                    margin: 10px 0 0;
                    flex-wrap: wrap;
                    
                    span{
                        margin-right: 10px;
                        margin-bottom: 10px;
                        border: 1px solid var(--theme-medium-light);
                        padding: 5px 10px;
                        border-radius: 1rem;
                        font-size: var(--font-size-s);
                    }
                }
            }

            .swclcExpand{
                margin-top: 20px;

                .swclceDivider{
                    margin-top: 10px;
                    height: 1px;
                    width: 100%;
                    background-color: var(--theme-light);
                }

                .swclceBody{
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 3fr 5fr;

                    .swclcebContent{
                        padding: 0 20px;

                        .swclcebcSection{
                            font-weight: var(--font-weight-light);
                        }

                        .swclcebcHeading{
                            font-size: var(--font-size-m);
                            font-weight: var(--font-weight-normal);
                            margin: 0;
                            padding: 0 0 5px 0;
                        }

                        a{
                            text-decoration: none;
                            color:inherit;
                        }
                        
                        .swclcebchMembers{
                            .swclcebchMember{
                                display: inline;
                                margin: 0 10px 0 0;
                                font-weight: var(--font-weight-lighter);
    
                                &:hover { text-decoration: underline }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: $medium-screen) {
    .swContainer{
        .swcList{
            .swclCard{
                .swclcMain{
                    .swclcmHeader{
                        margin-bottom: 40px;

                        h3{
                            font-size: var(--heading-2-font-size);
                        }
        
                        span{
                            font-size: var(--font-size-m);
                        }
                    }
                    
                    .swclcmTags{
                        span{
                            font-size: var(--font-size-m);
                        }
                    }
                }
    
                .swclcExpand{
                    .swclceBody{
                        grid-template-columns: 1fr;

                        .swclcebImage{
                            max-width: 60vw;
                            margin: 0 auto 20px;
                        }
    
                        .swclcebContent{
                            padding: 0;
    
                            .swclcebcSection{
                                font-weight: var(--font-weight-light);

                                p{
                                    font-size: var(--font-size-m);
                                    text-align: justify;
                                }
                            }

                            .swclcebcHeading{
                                font-size: var(--font-size-l);
                                text-align: center;
                            }

                            .swclcebchMembers{
                                .swclcebchMember{
                                    display: block;
                                    text-align: center;
                                    margin: 5px auto;
                                    font-size: var(--font-size-m);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: $small-screen) {
    .swContainer{
        .swcList{
            .swclCard{
                .swclcMain{
                    .swclcmHeader{
                        display: block;
                        margin-bottom: 20px;

                        h3{
                            font-size: var(--font-size-l);
                        }
        
                        span{
                            font-size: var(--font-size-m);
                        }
                    }
                    
                    .swclcmTags{
                        span{
                            font-size: var(--font-size-s);
                        }
                    }
                }
    
                .swclcExpand{
                    margin-top: 20px;
                    width: 100%;
                    align-items: center;
    
                    .swclceDivider{
                        margin-top: 10px;
                        height: 1px;
                        width: 100%;
                        background-color: var(--theme-light);
                    }
    
                    .swclceBody{
                        .swclcebImage{ max-width: 100% }
                    }
                }
            }
        }
    }
}
