@import '../../styles/utils.scss';

.musicContainer{
    .mcList{
        .mclCard{
            border: var(--theme-dark) solid 2px;
            padding: 0;
            
            .mclcHeader{
                .mclchPoster{
                    max-width: 60%;
                }
    
                .muclchText{
                    padding: 0 50px;
                    justify-content: center;
                    
                    h3{
                        font-size: var(--heading-2-font-size);
                        font-family: 'Fjalla One';
                    }
    
                    .muclchtTagContainer{
                        flex-wrap: wrap;
                        margin-bottom: 20px;

                        .muclchttcTag{
                            border: 1px solid var(--theme-dark);
                            border-radius: 1em;
                            margin: 10px 10px;
                            padding: 5px 15px;
                        }
                    }
                }
            }

            .muclcExpand{
                padding: 50px;
                background-color: var(--theme-dark);
                color: white;

                h1{
                    text-align: center;
                    font-weight: var(--font-weight-normal);
                }

                .muclceMembers{
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    align-items: stretch;
                    min-height: 250px;
                    margin-bottom: 50px;

                    .muclcemMember{
                        border: 1px solid var(--theme-light);
                        padding: 5px 10px;
                        margin: 10px;
                        min-height: 220px;
                        max-width: 140px;
                        text-align: center;
                        justify-content: space-around;

                        h4{
                            font-weight: var(--font-weight-normal);
                            font-size: var(--font-size-l);
                            margin: 10px 0 0;
                        }

                        .muclcemmArtForms{
                            justify-self: flex-start;
                            justify-content: flex-start;
                        }

                        .muclcemmLinks{
                            padding: 0 10%;
                            font-size: var(--font-size-xl);
                            justify-content: space-around;
                            justify-self: flex-end;
                            a{
                                color: inherit
                            };
                        }
                        
                    }
                }

                .muclceDivide{
                    height: 1px;
                    width: 100%;
                    background-color: var(--theme-light);
                }

                .muclceProjects{
                    width: 100%;
                    align-items: center;

                    .muclcepProject{
                        width: 100%;

                        .muclceppEmbed{
                            width: 100%;

                            iframe{
                                width: 50%;
                                min-height: 300px;
                                margin: auto
                            }
                        }

                        .muclceppTitle{
                            margin-top: 10px;
                            font-size: var(--heading-3-font-size);
                            text-align: center;
                        }

                        .muclceppGenre{
                            width: 100%;
                            text-align: center;
                            margin: 10px 0;
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
}

.leftGrid{
    flex-direction: row;
}

.rightGrid{
    flex-direction: row-reverse;
}

@media (max-width: $medium-screen) {
    .musicContainer{
        .mcList{
            .mclCard{
                border: var(--theme-dark) solid 2px;
                padding: 0;
                
                .mclcHeader{
                    .mclchPoster{
                        max-width: 100%;
                    }
        
                    .muclchText{
                        padding: 0 50px;
                        text-align: center;
                        
                        h3{
                            font-size: var(--heading-2-font-size);
                            font-family: 'Fjalla One';
                        }
        
                        .muclchtTagContainer{
                            flex-wrap: wrap;
                            justify-content: center;

                            .muclchttcTag{
                                border: 1px solid var(--theme-dark);
                                border-radius: 1em;
                                margin: 6px 6px;
                                padding: 5px 15px;
                            }
                        }
    
                    }
                }
    
                .muclcExpand{
                    padding: 50px;
                    background-color: var(--theme-dark);
                    color: white;
    
                    h1{
                        text-align: center;
                        font-weight: var(--font-weight-normal);
                    }
    
                    .muclceMembers{
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        align-items: stretch;
                        min-height: 250px;
                        margin-bottom: 50px;
    
                        .muclcemMember{
                            border: 1px solid var(--theme-light);
                            padding: 5px 10px;
                            margin: 10px;
                            min-height: 220px;
                            max-width: 140px;
                            text-align: center;
                            justify-content: space-around;
    
                            h4{
                                font-weight: var(--font-weight-normal);
                                font-size: var(--font-size-l);
                                margin: 10px 0 0;
                            }
    
                            .muclcemmArtForms{
                                justify-self: flex-start;
                                justify-content: flex-start;
                            }
    
                            .muclcemmLinks{
                                padding: 0 10%;
                                font-size: var(--font-size-xl);
                                justify-content: space-around;
                                justify-self: flex-end;
                                a{
                                    color: inherit
                                };
                            }
                            
                        }
                    }
    
                    .muclceDivide{
                        height: 1px;
                        width: 100%;
                        background-color: var(--theme-light);
                    }
    
                    .muclceProjects{
                        width: 100%;
                        align-items: center;
    
                        .muclcepProject{
                            width: 100%;
    
                            .muclceppEmbed{
                                width: 100%;
    
                                iframe{
                                    width: 50%;
                                    min-height: 300px;
                                    margin: auto
                                }
                            }
    
                            .muclceppTitle{
                                margin-top: 10px;
                                font-size: var(--heading-3-font-size);
                                text-align: center;
                            }
    
                            .muclceppGenre{
                                width: 100%;
                                text-align: center;
                                margin: 10px 0;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    .leftGrid{
        flex-direction: column;
    }
    
    .rightGrid{
        flex-direction: column;
    }   
}