@import '../../styles/utils.scss';


.headerContainer {
    position: fixed;
    top: 0;
    height: var(--header-height);
    z-index: 1;
    background-color: var(--theme-dark);
    border-bottom: 1px solid var(--theme-light);

    .hcContent {
        margin: auto 1%;
        justify-content: space-between;

        font-weight: var(--font-weight-light);
        font-size: var(--font-size-m);

        .hccNavMenu {
            .hccnNavMenuOption {
                margin: 0px 18px;
            }
        }

        .hccDrawerButton,
        .hccNavDrawer {
            display: none;
        }
    }
}

.headerLink {
    color: white;
    text-decoration: none;
}

@media (max-width: $medium-screen) {
    .headerContainer {
        .hcContent {
            width: 95%;
            margin: auto;

            .hccNavMenu {
                .hccnNavMenuOption {
                    margin: 0px 12px;
                }
            }
        }
    }
}

@media (max-width: $small-screen) {
    .headerContainer {
        .hcContent {
            width: 95%;
            margin: auto;

            .hccAvatar {
                justify-content: space-between;
                font-size: var(--font-size-xl);
            }

            .hccNavMenu {
                display: none
            }

            .hccDrawerButton {
                display: block;
            }

            .hccNavDrawer {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;

                // Must be here to override the display: none value from large screen
                display: flex;
                height: 100vh;

                .hccndOptions{
                    margin-top: var(--header-height);
                    height: fit-content;

                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    background-color: var(--theme-dark);
                    
                    .hccnNavMenuOption {
                        font-size: var(--font-size-l);
                        padding: 10px;
                        border-top: 0.5px solid var(--theme-light);
                    }
                }                
            }
        }
    }
}