@import '../../styles/utils.scss';

.aboutContainer {
    .acBanner {
        width: inherit;
        display: block;
        object-fit: cover;
        height: calc(100vh - 3 * var(--header-height));
    }

    .acbText {
        height: calc(2 * var(--header-height));
        background-color: var(--theme-medium-light);
        justify-content: center;

        h1 {
            font-family: 'Fjalla One';
            text-align: center;
            font-size: var(--heading-2-font-size);
            font-weight: var(--font-weight-normal);
            text-transform: uppercase;
            margin: 0;
        }

    }

    .acIntro {
        h3 {
            font-weight: var(--font-weight-normal);
            font-size: var(--heading-2-font-size);
            font-family: 'Source Sans Pro';
        }

        .aciContainer {
            margin-top: 40px;

            .aciText {
                padding: 0 5%;

                p {
                    font-size: var(--font-size-m)
                }
            }

            .aciProfilePicture {
                img {
                    width: var(--profile-picture-width);
                    object-fit: cover;
                }
            }
        }
    }
}

@media(max-width: 1080px) {
    .aboutContainer {
        .acIntro {
            .aciContainer {
                flex-direction: column-reverse;

                .aciText {
                    padding: 0;
                    p {
                        font-size: var(--font-size-s)
                    }
                }

                .aciProfilePicture {

                    img {
                        width: 80%;
                        margin: auto;
                    }
                }
            }

            .aciBarContainer {
                display: none
            }
        }
    }
}


@media (max-width: 600px) {
    .aboutContainer {
        .acIntro {
            .aciContainer {
                .aciText {
                    p {
                        font-size: var(--font-size-m);
                    }
                }

                .aciProfilePicture {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}