@import '../../styles/utils.scss';

.eduContainer{
    .eduList{
        margin-top: 20px;
        border-left: 1px dashed white;
        
        .eduCard{
            justify-content: space-between;
            font-family: 'Source Sans Pro';
            margin: 10px 0;
            position: relative;

            .eduDates{
                justify-content: space-between;
                width: 10%;
            }
            
            .eduSchool{
                width: 90%;
                justify-content: flex-end;
                max-height: 200px;

                .eduText{
                    text-align: right;

                    a{
                        color: inherit;
                        text-decoration: none;
                    }
                    
                    h1{
                        font-size: var(--heading-3-font-size);
                        font-weight: var(--font-weight-normal);
                        margin: 0 0 10px 0;
                    }

                    h3{
                        margin: 0;
                        font-size: var(--font-size-l);
                        font-weight: var(--font-weight-light);
                    }

                    p {
                        font-size: var(--font-size-m);
                        font-weight: var(--font-weight-light);
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-screen) {
    .eduContainer{
        .eduList{
            .eduCard{
                .eduDates{
                    font-size: var(--font-size-s);
                    justify-content: space-between;
                    width: 20%;
                }
                
                .eduSchool{ width: 80%; }
            }
        }
    }
}
